<?xml version="1.0"?>
<!--
/**
 * @package Mediarox_AdjustReviewDate
 * @copyright Copyright 2019 (c) mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
 * @author Kristian Ernst <kernst@mediarox.de>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mediarox_AdjustReviewDate">
        <sequenze>Magento_Review</sequenze>
    </module>
</config>
